<!DOCTYPE html>
<html lang="en">
  <head>
    <title>KokonattoMilku &bull; Realtime Status</title>
	<link rel="stylesheet" href="https://castella.network/style.css">
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Support for Cloudflare compression -->
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	
	<!-- Add icon library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="description" content="The GALPT Projects">
    <meta name="author" content="GALPT">
	<link rel="icon" type="image/x-icon" href="https://castella.network/hotlink-ok/qiqi1.png"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">

    <!--[if lt IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
      $(function(){
        console.log('jQuery: Page loading complete!');
      });
    </script>
	
	<!-- Support for current Date & Time -->
	<script type="text/javascript"> 
	function display_c(){
		var refresh=1000; // Refresh rate in milli seconds
		mytime=setTimeout('display_ct()',refresh)
	}

	function display_ct() {
		var x = new Date()
		document.getElementById('ct').innerHTML = x;
		display_c();
	 }
	</script>
  </head>
  <body classes="galpt" onload=display_ct();>
    <body>
	<center>
	<div style="display: inline-block; text-align: center;">
	<img src="https://castella.network/hotlink-ok/qiqi1.png" class="logogalptserverless">
	<b><div class="c">KokonattoMilku</div></b>
	<b><div class="b">Realtime Status</div></b>
	<br>
	<div class="time"><span id='ct' ></span></div>
	<br>
	<details>
		<summary class="aleft">SERVER STATUS</summary>
		<div style="display: inline-block; text-align: center;">
		<br>
		<!-- Custom checkboxes -->
		<div class="checkcontainer">
		  <div class="checkimg">
			<img class="checkimg" src="https://castella.network/internal/check.png">
		  </div>
		  <div class="checktext">
			<div class="checktext"><b>Server Time</b></div>
			<div class="checktext">{{.ServerTime}}</div>
		  </div>
		</div>
		<br>
		<div class="checkcontainer">
		  <div class="checkimg">
			<img class="checkimg" src="https://castella.network/internal/check.png">
		  </div>
		  <div class="checktext">
			<div class="checktext"><b>Detected CPU Cores</b></div>
			<div class="checktext">{{.TotalCPU}}</div>
		  </div>
		</div>
		<br>
		<div class="checkcontainer">
		  <div class="checkimg">
			<img class="checkimg" src="https://castella.network/internal/check.png">
		  </div>
		  <div class="checktext">
			<div class="checktext"><b>Detected OS Memory</b></div>
			<div class="checktext">{{.TotalMem}}</div>
		  </div>
		</div>
		
		</div>
	</details>
	
	<br>
	<details>
		<summary class="aleft">LATEST MESSAGE</summary>
		<div style="display: inline-block; text-align: center;">
		<br>
		<img src='{{.Msgpfp}}' class='autoscalecover'>
		<br>
		<br>
		<!-- Custom checkboxes -->
		<div class="checkcontainer">
		  <div class="checkimg">
			<img class="checkimg" src="https://castella.network/internal/check.png">
		  </div>
		  <div class="checktext">
			<div class="checktext"><b>Timestamp</b></div>
			<div class="checktext">{{.MsgTimestamp}}</div>
		  </div>
		</div>
		<br>
		<div class="checkcontainer">
		  <div class="checkimg">
			<img class="checkimg" src="https://castella.network/internal/check.png">
		  </div>
		  <div class="checktext">
			<div class="checktext"><b>Username</b></div>
			<div class="checktext">{{.MsgUsername}}</div>
		  </div>
		</div>
		<br>
		<div class="checkcontainer">
		  <div class="checkimg">
			<img class="checkimg" src="https://castella.network/internal/check.png">
		  </div>
		  <div class="checktext">
			<div class="checktext"><b>User ID</b></div>
			<div class="checktext">{{.MsgUserID}}</div>
		  </div>
		</div>
		<br>
		<div class="checkcontainer">
		  <div class="checkimg">
			<img class="checkimg" src="https://castella.network/internal/check.png">
		  </div>
		  <div class="checktext">
			<div class="checktext"><b>Profile Picture</b></div>
			<div class="checktext"><a class="linkcolor" href="{{.Msgpfp}}" target="_blank">See full picture</a></div>
		  </div>
		</div>
		<br>
		<div class="checkcontainer">
		  <div class="checkimg">
			<img class="checkimg" src="https://castella.network/internal/check.png">
		  </div>
		  <div class="checktext">
			<div class="checktext"><b>Account Type</b></div>
			<div class="checktext">{{.MsgAccType}}</div>
		  </div>
		</div>
		<br>
		<div class="checkcontainer">
		  <div class="checkimg">
			<img class="checkimg" src="https://castella.network/internal/check.png">
		  </div>
		  <div class="checktext">
			<div class="checktext"><b>Message ID</b></div>
			<div class="checktext">{{.MsgID}}</div>
		  </div>
		</div>
		<br>
		<div class="checkcontainer">
		  <div class="checkimg">
			<img class="checkimg" src="https://castella.network/internal/check.png">
		  </div>
		  <div class="checktext">
			<div class="checktext"><b>Message</b></div>
			<div class="frame"><span class="helper"></span><textarea class="textinput" placeholder="The message content" id="mangacode">{{.MsgContent}}</textarea></div>
		  </div>
		</div>
		<br>
		<div class="checkcontainer">
		  <div class="checkimg">
			<img class="checkimg" src="https://castella.network/internal/check.png">
		  </div>
		  <div class="checktext">
			<div class="checktext"><b>Translation</b></div>
			<div class="checktext"><a class="linkcolor" href="{{.MsgTranslation}}" target="_blank">See translated message</a></div>
		  </div>
		</div>
		
		</div>
	</details>
	
	<br>
	<details>
		<summary class="aleft">RAW DATA</summary>
		<div style="display: inline-block; text-align: center;">
		<br>
		<!-- Custom checkboxes -->
		<div class="checkcontainer">
		  <div class="checkimg">
			<img class="checkimg" src="https://castella.network/internal/check.png">
		  </div>
		  <div class="checktext">
			<div class="checktext"><b>Last 100 Messages</b></div>
			<div class="frame"><span class="helper"></span><textarea class="textinput" placeholder="The last 1000 messages" id="mangacode">{{.AllMsg}}</textarea></div>
		  </div>
		</div>
		
		</div>
	</details>
	
	<footer>
	<div style="display: inline-block; text-align: center;">
	<br>
	<details>
		<summary class="note">Translate</summary>
		<!-- Google Web Translator -->
		<div id="google_translate_element"></div>

		<script type="text/javascript">
		function googleTranslateElementInit() {
			new google.translate.TranslateElement({pageLanguage: 'id'}, 'google_translate_element');
		}
		</script>

		<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	</details>
	
	<!-- Back to Top Button -->
	<script type="text/javascript">
	/*Scroll to top when arrow up clicked BEGIN*/
	$(window).scroll(function() {
		var height = $(window).scrollTop();
		if (height > 100) {
			$('#back2Top').fadeIn();
		} else {
			$('#back2Top').fadeOut();
		}
	});
	$(document).ready(function() {
		$("#back2Top").click(function(event) {
			event.preventDefault();
			$("html, body").animate({ scrollTop: 0 }, "slow");
			return false;
		});

	});
	/*Scroll to top when arrow up clicked END*/
	</script>
	<a id="back2Top" title="Back to top" href="#">&#8679;</a>
	
	<br>
	<div class="note">&copy; <script>document.write(new Date().getFullYear())</script> <a class="linkcolor" href="https://www.castella.network/">Castella</a></div>
	</div>
	</footer>
	<br>

	</div>
	</center>
    </body>
  </body>
</html>